*{
    margin: 0;
    padding: 0;
}
body{
    display: flex;
    height: 100vh;
    width: 100vw;
    background-color: azure;
}
.formlogin{
    margin: auto;
    background-color: aquamarine;
    text-align: center;
    height: 500px;
    width: 350px;
    border-radius: 30px;
    box-shadow: black 0 0 5px;
}
.formlogin h1{
    margin-top: 10px;
    font-size: 30pt;
    margin-bottom: 10%;
}
.txts{
    font-size: 20pt;
    text-align: left;
    margin-left: 5%;
}
.txts input{
    margin-bottom: 10%;
    height: 25px;
    padding-left: 2%;
    width: 90%;
}
.btns{
    display: flex;
    margin-bottom: 10%;
}
.btns input{
    margin: auto;
    height: 30px;
    width: 70px;
    background-color: azure;
}
.btns input:hover{
    background-color: rgb(196, 208, 219);
    cursor: pointer;
}
.btnacessar{
    height: 30px;
    width: 70px;
    background-color: azure;
    margin-top: 5%;
}
.btnacessar:hover{
    background-color: rgb(196, 208, 219);
    cursor: pointer;
}
footer{
    height: 6vh;
    width: 100%;
    background-color: aquamarine;
    position: fixed;
    box-shadow: 0 0 3px;
    bottom: 0;
    display: flex;
}
.autor{
    margin: auto;
    font-size: 1vw;
}