*{
    padding: 0;
    margin: 0;
}
body{   
    width: 100vw;
    height: 100vh;   
    display: flex;
}
.form{
    margin: auto;
    background-color: #abb194;
    height: 700px;
    width: 500px;
    border-radius: 30px;
    border-color: #667f48;
    border-width: 3px;
    border-style: solid;
    color: white;
    text-shadow: #000 0px 0px 2px,   #000 0px 0px 2px,   #000 0px 0px 2px,
             #000 0px 0px 2px,   #000 0px 0px 2px,   #000 0px 0px 2px;
    
}
h1{
    margin-top: 10%;
    margin-bottom: 15%;
    font-size: 40pt;
    text-align: center;
}
.txts{
    margin-left: 10%;   
    margin-bottom: 10%;
    font-size: 20pt;
}
.txts input{
    width: 80%;
    height: 40px;
    margin-bottom: 10%;
    padding-left: 2%;
    border-radius: 5pt;
    border-color: #667f48;
    border-width: 2px;
    background-color: rgb(228, 231, 216);
    color: white;
    font-size: 18pt;
    text-shadow: #000 0px 0px 2px,   #000 0px 0px 2px,   #000 0px 0px 2px,
             #000 0px 0px 2px,   #000 0px 0px 2px,   #000 0px 0px 2px;
}
.txts select{
    background-color: rgb(228, 231, 216);
    border-color: #667f48;
    width: 30%;
    height: 30px;
}
.txts select:hover{
    cursor: pointer;
}
.btns{
    width: 100%;
    display: flex;
    margin-bottom: 5%;
}
.btns input{
    margin: auto;
    height: 50px;
    width: 30%;
    border-radius: 5pt;
    border-color: #667f48;
    border-width: 2px;
    background-color: #7a9756;
    color: white;
    font-size: 15pt;
    text-shadow: #000 0px 0px 2px,   #000 0px 0px 2px,   #000 0px 0px 2px,
             #000 0px 0px 2px,   #000 0px 0px 2px,   #000 0px 0px 2px;
}
.btns input:hover{
    background-color: #89aa61;
    cursor: pointer;
}
.msg{
    text-align: center;
}
.fundo{
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    width: 100vw;
    height: 100vh;
    background-image: url('../../../img/clientesfundo.jpeg');
    background-size: 100% 100%;
    background-repeat: no-repeat;
    z-index: -1;
    opacity: 40%;
}

.id{
    margin-left: 10%;
    margin-bottom: 4%;
    font-size: 20pt;
}