table{
    box-shadow: 0 0 5px black;
    margin: auto;
    width: 80vw;
    border-collapse: collapse;
    font-size: 1.5vw;
    opacity: 80%;
    color: rgb(0, 0, 0);
    margin-bottom: 4vh;
}
th{
    width: 16.67%;
}
td{
    padding-left: 3%;
    text-align: left;
}
tr{
    height: 7vh;
}
.cap{
    background-color: #667f48;
}
.par{
    background-color: rgb(228, 231, 216);
}
.impar{
    background-color: #abb194;
}
*{
    padding: 0;
    margin: 0;
}
body{   
    width: 100vw;
    height: 100vh;   
    text-align: center;
    padding-top: 2vh;
    overflow-x: hidden;
}
.form{
    margin: auto;
    background-color: #abb194;
    height: 500px;
    width: 800px;
    border-radius: 30px;
    border-color: #667f48;
    border-width: 3px;
    border-style: solid;
    color: white;
    text-shadow: #000 0px 0px 2px,   #000 0px 0px 2px,   #000 0px 0px 2px,
             #000 0px 0px 2px,   #000 0px 0px 2px,   #000 0px 0px 2px;
    
}
h1{
    margin-top: 5%;
    margin-bottom: 10%;
    font-size: 35pt;
    text-align: center;
}
.txts{
    margin-left: 5%;   
    font-size: 20pt;
    text-align: left;
}
.txts input{
    width: 90%;
    height: 40px;
    margin-bottom: 15%;
    padding-left: 2%;
    border-radius: 5pt;
    border-color: #667f48;
    border-width: 2px;
    background-color: rgb(228, 231, 216);
    color: white;
    font-size: 18pt;
    text-shadow: #000 0px 0px 2px,   #000 0px 0px 2px,   #000 0px 0px 2px,
             #000 0px 0px 2px,   #000 0px 0px 2px,   #000 0px 0px 2px;
}
.btns{
    width: 100%;
    display: flex;
    margin-bottom: 5%;
}
.btns input{
    margin: auto;
    height: 50px;
    width: 30%;
    border-radius: 5pt;
    border-color: #667f48;
    border-width: 2px;
    background-color: #7a9756;
    color: white;
    font-size: 15pt;
    text-shadow: #000 0px 0px 2px,   #000 0px 0px 2px,   #000 0px 0px 2px,
             #000 0px 0px 2px,   #000 0px 0px 2px,   #000 0px 0px 2px;
}
.btns input:hover{
    background-color: #89aa61;
    cursor: pointer;
}
.fundo{
    position: fixed;
    top: 0;
    bottom: 0;
    width: 100vw;
    height: 100vh;
    background-image: url('../../../img/clientesfundo.jpeg');
    background-size: 100% 100%;
    background-repeat: no-repeat;
    z-index: -1;
    opacity: 40%;
}
@media(max-width: 100vh){
    p, table{
        font-size: 150%;
    }
}
@media(max-width: 800px){
    .form{
        width: 90vw;
        height: auto;
    }
    .btns{
        display: inline-block;
    }
    .btns input{
        margin-bottom: 2vh;
    }
    h1{
        font-size: 30pt;
    }
    body{
        overflow-x: visible;
    }
}