body{
    height: 100vh;
    width: 100vw;
    padding: 0;
    margin: 0;
    overflow-x: hidden;
}
header{
    width: 100vw;
    height: 10vh;
    display: flex;
    column-gap: 0;
    background-color: #7a9756;
    box-shadow: 0 0 4px;
    margin: 0;
    position: fixed;
}
.headerb{
    margin: auto;
    display: flex;
    width: 80vw;
    height: 100%;
}
form{
    width: 16.67%;
    height: 100%;
    margin: auto;
}

input{
    width: 100%;
    height: 100%;
    margin: 0;
    border: none;
    color: white;
    text-shadow: #000 0px 0px 2px,   #000 0px 0px 2px,   #000 0px 0px 2px,
             #000 0px 0px 2px,   #000 0px 0px 2px,   #000 0px 0px 2px;
    font-size: 2vw;
    font-weight: bold;
    background-color: #7a9756;
}
input:hover{
    background-color: #8eb164;
    cursor: pointer;
}
.selected{
    background-color: #89aa61;
    text-shadow: #cf1919 0px 0px 4px,   #cf1919 0px 0px 4px,   #cf1919 0px 0px 4px,
             #cf1919 0px 0px 4px,   #cf1919 0px 0px 4px,   #cf1919 0px 0px 4px;
}
.sai{
    text-shadow: #193acf 0px 0px 4px,   #193acf 0px 0px 4px,   #193acf 0px 0px 4px,
             #193acf 0px 0px 4px,   #193acf 0px 0px 4px,   #193acf 0px 0px 4px;
}
main{
    height: 84vh;
    padding-top: 10vh;
    padding-bottom: 6vh;
    display: flex;
    background-image: url('../img/backgroundgreen.jpg');
    background-size: 100% 100%;
    background-repeat: no-repeat;
}
.conteudo{
    margin: auto;
    border-style: solid;
    border-color: #667f48;
    border-width: 1px;
    border-radius: 10px;
    background-color: #abb194;
    height: 600px;
    width: 450px;
    padding: 0;
    text-align: center;
    opacity: 90%;
    transition: 0.5s ease-in-out;
    color: white;
    text-shadow: #000 0px 0px 2px,   #000 0px 0px 2px,   #000 0px 0px 2px,
             #000 0px 0px 2px,   #000 0px 0px 2px,   #000 0px 0px 2px;
}
.conteudoh{
    margin: auto;
    border-style: solid;
    border-color: #667f48;
    border-width: 1px;
    border-radius: 10px;
    background-color: #abb194;
    height: 600px;
    width: 450px;
    padding: 0;
    text-align: center;
    opacity: 80%;
    transform: translateX(100vw);
    transition: 0.5s ease-in-out;
    color: white;
    text-shadow: #000 0px 0px 2px,   #000 0px 0px 2px,   #000 0px 0px 2px,
             #000 0px 0px 2px,   #000 0px 0px 2px,   #000 0px 0px 2px;
}
.tit{
    margin-top: 30px;
    font-size: 30pt;
    font-weight: bold;
}
.link{
    font-size: 20pt;
    margin-top: 40%;
}
a{
    color: rgb(0, 0, 0);
    text-shadow: none;
}
.a{
    background-color: rgb(202, 172, 3);
}
.b{
    background-color: rgb(95, 189, 158);
}
.c{
    background-color: rgb(187, 13, 48);   
}
.a, .b, .c{
    width: 90%;
    border-radius: 20px;
    margin: auto;
}

footer{
    height: 6vh;
    width: 100%;
    background-color: #7a9756;
    position: fixed;
    box-shadow: 0 0 3px;
    bottom: 0;
    display: flex;
}
.autor{
    margin: auto;
    font-size: 1vw;
}


@media (max-width: 100vh){
    .headerb{
        width: 100vw;
    }
    input{
        font-size: 3vw;
    }
    .autor{
        font-size: 2vw;
    }
}
@media (max-width: 750px){
    .conteudo{
        width: 400px;
    }
}

@media (max-height: 200px){
    footer{
        height: 0;
    }
    header{
        height: 16vh;
    }
}